<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MPLS Use of Force</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!--link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-vjBZc/DqIqR687k5rf6bUQ6IVSOxQUi9TcwtvULstA7+YGi//g3oT2qkh8W1Drx9" crossorigin="anonymous"-->
</head>
<body>

  <!--Adding Nav Bar-->
  <!--Adding Latitude as Home screen link-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbarmar">
    <a class="navbar-brand" href="/" ><div class="p-2  bg-info text-white">MINP</div></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--Adding other nav bar menus-->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class = "navbar-nav ml-auto navbar-right">
              
              <li class="nav-item">
                <a class="nav-link" href="/geojson">MPLS Geo Map</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="/mpls_deepdive">MPLS Deep Dive</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/inference">Inference</a>
              </li>
        </ul>
      </div>
  </nav>
  <!--End of Nav Bar-->

  <!--Adding cointainer for Data & Visualization-->
  <div class="container-fluid  p-5"  >
    <div class="row" class="mx-auto">

      <!--First Column in this Row-->
      <div class="col-md-12">
        <div class="box div-box">       
        <h4 class="text-info font-weight-bold">Inferences from our Analysis</h4>
        <hr class="my-4">        
        <div class="row">
          <div class="col-md-12">
            <br><h5 class="font-weight-bold">T-test for average use of force and subject race</h5>
             
            <!-- table div -->
          <div id="table-neighborhood">
             <!--2nd table summarizing top 5 neighborhoods with most Use of Force (Year >= 2012)-->
             <div class="table-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12">
               
              <table class="table table-striped">
                
                <thead class="thead-dark">
                  <tr style="text-align: left;">
                 {% for column in columns_data2 %}
                    <th>{{ column }}</th>
                 {% endfor %}
                </thead>
              </tr>
                
                <tbody>
                  {% for item in ttest %}
                  <TR>
                     
                     <TD >{{item[0]}}</TD>
                     <TD >{{item[1]}}</TD>
                     <TD >{{item[2]}}</TD>
                  </TR>
                  {% endfor %}
                </tbody>
                </table>
          
              </div>

          </div>
          </div>
        </div>
        <br>
        <h5 class="text-info font-weight-bold">Conclusion:</h5>
        
        <!--End of first box-->
        </div>

      <!--End of first column-->
      </div> 

    
    <!--End of row-->
    </div>
  
  <!--End of container-->
  </div>

 <!-- Footer -->

  <div class="panel-footer panel-custom bg-dark py-2 text-center">
    © Copyright Coding BootCamp 2020
  </div>

  <!-- End of Footer -->

<!--script src="../static/js/neighborhood-force.js"></script-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>


</body>

</html>
